/* Css reset  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* Generics  */

main {
    padding-top: 100px;
    height: calc(100vh - 100px);
    overflow-y: auto;
    padding-left: 80px;
    padding-right: 10px;
    background-color: #141922;
    color: #fff;
}

img {
    display: block;
    max-width: 100%;
}

sub {
    color: #818181;
}

/* Utils  */

.border {
  border:  1px solid white;
}
.circle {
    border-radius: 50%;
}

.white {
    color: #f1f1f1;
}

.pdng-25 {
    padding: 25px 0;
}

/* Widths */

.w-11 {
    width: 11%;
}

.w-33 {
    width: 33%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-75 {
    width: 75%;
}

/* Buttons  */

.btn-upgrade {
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
    transition: transform 1s;
}

.btn-upgrade:hover {
    transform: scale(1.25);
}

/* Sidebar  */

.side-nav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #000000; 
    color: #818181;
    padding: 0 16px;
}


#big-logo {
    display: none;
}


.commands {
    text-align: center;
}

.side-nav a {
    padding: 6px 0;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.side-nav a:hover {
    color: #f1f1f1;
}

.txt-command {
    display: none;
}
/* Playlist-->SIdenav  */

.playlist {
    display: none;
    line-height: 25px;
}

.playlist-title {
    color: #fff;
    font-size: 15px;
    padding: 16px 0;
}

.add-playlist {
    overflow-y: auto;
}

.add-playlist ul li a {
    font-size: 13.5px;
}

.add-square {
    height: 40px;
    width: 40px;
    font-size: 40px;
    border: 1px solid #818181;
    margin-right: 5px;
    line-height: 40px;
    text-align: center;
    color: #141922;
    background-color: #818181;
    cursor: pointer;
}

.add-square:hover {
    filter: brightness(150%);

}

.side-nav-footer {
    position: absolute;
    bottom: 100px;
    width: 100%;
}

.side-nav-footer .download {
    
    margin-bottom: 10px;
}

hr {
    color: #818181;
    width: 218px;
    display: none;
}

.download img {
    height: 25px;

}

.profile img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #818181;
    border: 1px solid #818181;
    margin-right: 10px;
}
 
/* main */

main header {
    padding: 10px;
    padding-left: 80px;
    background-color: #080b124d;
    height: 100px;
    position: fixed;
    top: 0;
    right: 25px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}

/* Navbar  */

.nav-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #818181;
    font-size: 12PX;
    font-weight: bold;
}

.nav-links a:hover {
    color: #f1f1f1;
}


/* Main -- Disks  */

.main-title {
    min-height: 50px;
    margin: 15px 0;
}

.recently-played, .suggested, .most-famous {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

section .card {
    width: calc(50% - 10px);
    transition: transform 0.5s; 
}

.card-wrapper {
    position: relative;
}

.play {
position: absolute;  
font-size: 35px;
bottom: 50%;
left: 50%;
transform: translate(-50%, 50%);
display: none;
}


section .card:hover {
    transform: scale(1.05);
    filter: grayscale(50%);
}

section .card:hover .play {
    display: block;
    cursor: pointer;
}


.description {
    padding: 15px 0;
    text-align: center;
}

.description sub {
    font-size: 15px;
}

/* Most famous  */

.most-f-container {
    position: relative; 
    width: 222.5;
    height: 222.5;
    overflow: hidden;
    border-radius: 50%;
}



/* Footer  */

footer {
    background-color: #282828;
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    color: #f1f1f1;

}

.footer-wrapper {
    display: flex;
    height: 100%;
    
}

.footer-left, .footer-right, .footer-middle {
    width: calc(100% /3);
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-left, .footer-right {
    align-items: center;
}

.footer-right {
    padding: 0 16px;
}

.footer-middle {
    flex-wrap: wrap;
    padding: 5px;
}

.footer-left .img-footer {
    width: 60px;
    height: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.description-footer {
    line-height: 12px;
}


.feedback {
    display: flex;
    flex-direction: column;
    padding: 25px;
    color: #818181;
}

.feedback .fa-regular {
    padding: 10px 0;
    cursor: pointer;
}

.footer-commands {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-cmnd {
    padding: 10px;
}


.progress-bar-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateY(-30px);
}

.progress-bar-wrapper .time {
    font-size: 10px;
}

.pg-bar {
    background: #818181;
    border-radius: 5px;
    height: 5px;
    width: 100%;
    margin: 10px;
    position: relative;
}

.pg-bar .value {
    border-radius: 5px;
    background-color: #f1f1f1;
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
}

.pg-bar .marker {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);

    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: green;
    border: 4px solid #818181;
    cursor: pointer;
    display: none;
}

.pg-bar:hover .marker {
    display: block;
}

.pg-bar .value:hover {
    background-color: rgb(236, 255, 127);
}

.icon-audiovisual {
    padding:0 5px;
}


/* ********RESPONSIVE******* */

/* Responsive s  */
@media screen and (min-width: 639px) {

    .side-nav {
        width: 250px;
    }

    .side-nav a {
        display: flex;
        align-items: center;
    }


    #small-logo {
        display: none;
    }

    .txt-command {
        display: block;
        font-size: 15px;
    }

    #big-logo {
        height: 100px;
        display: block;
        padding-left: 16px;
    }

    #small-logo {
        display: none;
    }

    a img {
        height: 25px;
    }

    main {
        padding-left: 260px;
    }

    section .card {
        min-height: calc(50vw - 100px);
        min-width: calc(50% - 10px);
    }

    .playlist {
        display: block;
    }

    hr {
        display: block;
    }

}

/* Responsive md */

@media screen and (min-width: 878px) {

    
    section .card {
        min-height: calc(100vw / 4 - 42px);
        min-width: calc(100% / 4 - 13px);
    }

    .recently-played .card {
        flex-basis: calc(100% / 6 - 15px);
    }

    .suggested .card, .most-famous .card {
        height: 162.75px;
        width: 162.75px;
        margin-bottom: 25px;
    }

    .footer-wrapper {
        justify-content: space-between;
    }

    .footer-right {
        /* max-width: 15%; */
        display: flex;
        justify-content: flex-end;
    }

    .feedback {
        flex-direction: row;
        gap: 10px;
        padding: 0;
    }

    .footer-right .pg-bar {
        width: 150px;
    }
}

/* Responsive lg */

@media screen and (min-width: 1440px) {

.recently-played .card {
    min-height: calc(100vw / 6 - 42px);
    min-width: calc(100% / 6 - 13px);
}

section .card {
    min-height: calc(100vw / 6 - 42px);
    min-width: calc(100% / 6 - 13px);
}

.suggested .card, .most-famous .card {
    height: 232px;
    width: 232px;
    margin-bottom: 25px;
}

}