/* Css reset  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics  */


/* Utils  */

/* Sidebar  */

.side-nav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000; 
}

.side-nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.txt-a-nav {
    display: none;
}

.side-nav a:hover {
    color: #f1f1f1;
}

 
/* main */

main header {
    padding: 10px;
    padding-left: 80px;
    background-color: #80808036;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    text-align: right;
}
main {
    padding-top: 100px;
    height: calc(100vh - 100px);
    overflow-y: auto;
    padding-left: 80px;
    padding-right: 10px;
}

  

/* Footer  */

footer {
    background-color: #282828;
    height: 100px;
}


/* ********RESPONSIVE******* */

/* Responsive s  */
@media screen and (min-width: 639px) {

    .side-nav {
        width: 160px;
    }

    .txt-a-nav {
        display: inline-block;
    }
    
    main {
        padding-left: 170px;
    }

}

/* Responsive md */

@media screen and (min-width: 878px) {

}

/* Responsive lg */

@media screen and (min-width: 1440px) {

}